PORT=5001
MONGO_URI=mongodb://localhost:27017/order_db
RABBITMQ_URL=amqp://localhost
QUEUE_NAME=order_events
MENU_SERVICE=http://localhost:5002
WALLET_SERVICE=http://localhost:5005
JWT_SECRET=smart-canteen-platform-jwt-2026
